:root{
    --logo-background-color: #1f3870;
    --footer-main-background-color: #1f3870;
    --footer-info-background-color: #2b478a;
    --navigation-background-color: #2b478a;
    --logo-color: whitesmoke;
    --text-color: white;
    --button-hover-background-color: #182b54;
    --signin-background-color: #1b356e;
    --signin-hover-background-color: #032369;
}

*{
    font-family: "Golos Text", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0;
    align-self: center;
    height: fit-content;
}
header{
    width: 100%;
    margin: 0;
}
.headed{
    text-align: center;
    padding: 10px;
    background-color: var(--logo-background-color);
}
.logo a{
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    color: var(--logo-color);
    text-decoration: none;
    @media screen and (max-width: 767px) {
        font-size: 26px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 28px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 30px;
    }
}
.icongif{
    @media screen and (max-width: 767px) {
        width: 28px;
        height: 28px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 30px;
        height: 30px;
    }
    @media screen and (min-width: 1024px) {
        width: 32px;
        height: 32px;
    }
}
.list_style {
    padding: 0 0.5%;
    background-color: var(--navigation-background-color);
    text-align: center;
    width: 99%;
    max-width: 100%;
    height: 100%;
    display: grid;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);
    }
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 0;
    }
    column-gap: 3px;
    .search_bar{
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        label{
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 18px;
            }
            padding-right: 7px;
            color: var(--text-color);
        }
        input{
            width: 70%;
            border-radius: 15px;
            padding-left: 4px;
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 18px;
            }
        }
    }
    .bar{
        max-height: 100%;
        .button1 {
            display: flex;
            width: 100%;
            height: calc(100% - 28px);
            padding: 14px 0;
            justify-content: center;
            align-items: center;
            font-family: "Nunito", sans-serif;
            color: var(--text-color);
            text-decoration: none;
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 18px;
            }
            word-wrap: break-word;
        }
        .button1:hover, .bar:hover{
            background-color: var(--button-hover-background-color);
        }
    }
    .bar_signin{
        grid-template-rows: 10fr 80fr 10fr;
        display: grid;
        height: fit-content;
        max-height: 100%;
        justify-content: center;
        align-self: center;
        .button_signin{
            grid-row: 2;
            margin: 0 2px;
            padding: 9px 20px;
            width: auto;
            height: calc(100% - 18px);
            font-family: "Nunito", sans-serif;
            color: var(--text-color);
            text-decoration: none;
            background-color: var(--signin-background-color);
            border: 1px solid white;
            border-radius: 15px;
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 18px;
            }
            word-wrap: break-word;
        }
        .button_signin:hover{
            background-color: var(--signin-hover-background-color);
        }
    }
    .bar_submenu{
        .submenu-title {
            font-family: "Nunito", sans-serif; !important;
        }
        display: inline-block;
        justify-content: center;
        align-content: center;
        align-self: center;
        height: calc(100% - 28px);
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
        @media screen and (min-width: 768px) and (max-width: 767px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 18px;
        }
        padding: 14px 0;
        position: relative;
        max-width: 100%;
        width: 100%;
        background-color: var(--navigation-background-color);
        color: var(--text-color);
        border: none;
        .submenu-content{
            a {
                font-family: "Nunito", sans-serif;
                text-decoration: none;
                color: var(--text-color);
            }
            background-color: var(--navigation-background-color);
            position: absolute;
            display: none;
        }
    }
    .bar_submenu:hover{
        background-color: var(--button-hover-background-color);
        .submenu-content {
            width: 100%;
            top: 100%;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            background-color: var(--navigation-background-color);
        }
    }
}
.hover_button {
    text-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
}

.hover_button:hover {
    background-color: #032369;
}
footer{
    .footer_main{
        margin: 0;
        padding: 20px 0;
        background-color: var(--footer-info-background-color);
        text-align: center;
        color: var(--text-color);
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: repeat(6, 5cqh);
        .navigate_footer {
            display: grid;
            grid-column-start: 2;
            grid-row: 2/6;
            @media screen and (max-width: 767px) {
                font-size: 12px;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 18px;
            }
            word-wrap: break-word;
            a {
                margin: auto;
                color: var(--text-color);
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        .info_footer{
            justify-content: center;
            align-items: center;
            display: grid;
            grid-column-start: 3;
            grid-row: 1/7;
            @media screen and (max-width: 767px) {
                font-size: 10px;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 18px;
            };
            word-wrap: break-word;
        }
    }
    .copyright_and_more {
        width: 100%;
        img {
            width: 50%;
            height: 50%;
            max-height: 280px;
            max-width: 500px;
        }

        .copyright1 {
            display: none;
            padding: 5px;
        }

        .copyright1 span {
            color: var(--text-color);
            font-size: 20px;
        }

        .button2 {
            width: 100%;
            max-width: 100%;
            background-color: var(--footer-main-background-color);
            border: none;
            padding: 10px 0;
            .copyright {
                background-color: var(--footer-main-background-color);
                margin: 0;
                padding: 0;
                color: var(--text-color);
                @media screen and (max-width: 767px) {
                    font-size: 9px;
                }
                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    font-size: 11px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 13px;
                };
                word-wrap: break-word;
            }
        }

        .button2:hover .copyright {
            display: none;
        }

        .button2:hover .copyright1 {
            display: inline;

            .image {
                display: inline-block;
                padding: 10px;
                align-items: center;
            }
        }
    }
}