:root{
    --surveyBorderColor: #1f3870;
    --button-background-color: #2b478a;
    --button-hover-background-color: #182b54;
}
main{
    width: 100%;
    max-width: 100%;
    margin: auto;
}
form{
    margin: 25px 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    span label{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    input{
        border: 1px solid var(--surveyBorderColor);
        border-radius: 10px;
        width: 200px;
        padding: 2px 5px;
    }
}
.button_submit_reset {
    background-color: var(--button-background-color);
    border: none;
    align-items: center;
    padding: 15px 25px;
    font-family: "Nunito", sans-serif;
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
}
.button_submit_reset:hover{
    background-color: var(--button-hover-background-color);
}
.button_set{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}